*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.springBeans
bin
build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
spring-fr.theialand.insitu.test/fr.theialand.insitu.test-output/
.gradle
argfile*
activemq-data/

classes/
/build
buildSrc/build
/spring-*/build
/src/asciidoc/build
/target/

# Eclipse artifacts, including WTP generated manifests
# .classpath
# .project
# spring-*/src/main/java/META-INF/MANIFEST.MF
#
 # IDEA artifacts and output dirs
 *.iml
 *.ipr
 *.iws
 .idea
 out
 fr.theialand.insitu.test-output
 atlassian-ide-plugin.xml
 .gradletasknamecache



#### NetBeans ###
 **/nbproject/private/
 **/nbproject/Makefile-*.mk
 **/nbproject/Package-*.bash
 build/
 nbbuild/
 dist/
 nbdist/
.nb-gradle/
#
# # End of https://www.gitignore.io/api/java,maven,netbeans
/nbproject/

